*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
html, body {
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    padding: 0vw 10vw;
    position: fixed;
    z-index: 99;
}

nav a{
    text-decoration: none;
    /* color: black; */
    color: white;
    font-size: 1.5rem;
    margin: 0 1vw;
}

#menu-icon{
    display: none;
    font-size: 2rem;
    /* color: black; */
    color: white;

}

#page-one{
    width: 100%;
    height: 100vh;
    background-color: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    align-items: center;
    justify-content: center;
}

#fanta_can{
    width: 35%;
    height: auto;
    z-index: 2;
    position: absolute;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#orange_slice{
    width: 20%;
    height: auto;
    position: absolute;
    top:3%;
    left: 30%;
    z-index: 1;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#orange{
    width: 25%;
    height: auto;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#page-one h1{
    font-size: 23rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#leaf-1{
    width: 20%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 20%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#leaf-2{
    width: 20%;
    height: auto;
    position: absolute;
    top: 6%;
    left: 82%;
    transform: rotate(-75deg);
}

#page-two{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-two #left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6b2c2c;
}
#page-two #right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6b2c2c;

}

#left svg{
    margin-top: 50%;
    width: 60%;
    height: auto;
}

#right h1{
    font-size: 5rem;
    color: white;
    text-align: center;
}

#right p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

#right button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

#page-three{
    width: 100%;
    height: 100vh;
    background-color: #f81c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.card{
    width: 25%;
    height: 75%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 4rem; */
}

.card h1{
    font-size: 2rem;
    color: #333;
    margin-top: 25rem;
    margin-bottom: 1rem;
}

.card button{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #ff7e5f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1rem;
}

#cocacola{
    width: 16%;
    height: auto;
    position: absolute;
    top: 5%;
    left: 15%;
}

#pepsi{
    width:28%;
    height: 70%;
    position: absolute;
    top: 0.7%;
    left: 63%;
}